@import url('https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(#e66465, #9198e5, #e66465);
}

h1 {
  padding: 20px 0;
  text-align: center;
  font-family: 'Oleo Script', cursive;
  font-style: italic;
  font-size: 3rem;
  color: rgb(255, 255, 255);
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 0;
  margin: 0 10px;
}

:root {
  --grid-rows: 1;
  --grid-cols: 1;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(var(--grid-cols), 1fr);
  grid-template-rows: repeat(var(--grid-rows), 1fr);
  background-color: wheat;
}

.grid-square {
  padding: 10px;
  border: 1px solid black;
}
